/* Estilos para el contenedor general */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #E0E0E0;
}

/* Estilos para la barra de navegación */
.app-header {
  background-color: #1f1f1f;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3); /* Sombra para darle mejor separación */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Separar título y enlaces */
  align-items: center;
  padding: 15px 20px;
}

.navbar-title {
  color: #BB86FC;
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
}

/* Estilo de los enlaces en la barra de navegación */
.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px; /* Espacio entre cada enlace */
}

.navbar-links li a {
  color: #E0E0E0;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-links li a:hover {
  color: #03DAC6; /* Efecto hover para enlaces */
  background-color: rgba(255, 255, 255, 0.1); /* Fondo sutil al pasar el ratón */
  border-radius: 5px; /* Bordes redondeados para el hover */
}

/* Estilos del contenido principal */
.app-main {
  padding: 100px 20px; /* Espacio superior para evitar superposición con la navbar */
}

h2 {
  color: #BB86FC;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
}

